.list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  max-width: 800px;
  /* width: 50%; */
  flex-wrap: wrap;
  /* border: 2px solid blue; */
}
.width {
  width: 100%;
  /* border: 2px solid green; */
}

@media (max-width: 856px) {
  .list {
    /* border: 2px solid blue; */
    width: 100%;
    justify-content: center;
  }
}
