* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  max-width: 800px;
  flex-wrap: wrap;
  /* border: 2px solid blue; */
}

@media (max-width: 856px) {
  .list {
    /* border: 2px solid blue; */
    width: 100%;
    justify-content: center;
  }
}
