* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.background {
  background-color: #282828;
  height: 60px;
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 2px solid yellow; */
}

.icon {
  width: 50px;
  margin-top: 4px;
  margin-right: 8px;
}

.youtube {
  color: white;
  font-weight: 700;
  font-size: xx-large;
  cursor: pointer;
  margin-right: 8px;
}

.form {
  /* border: 2px solid blue; */
  display: flex;
}

.button,
.button2 {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.searchInput {
  width: 520px;
  height: 40px;
  margin-right: 8px;
}

.button2 {
  color: white;
  width: 40px;
  font-size: large;
}

@media (max-width: 856px) {
  /* 768 -> 856 */

  .icon {
    width: 25px;
  }
  .youtube {
    font-size: medium;
  }
  .form {
    width: 90%;
  }
  .searchInput {
    width: 80%;
  }
}
