* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.layout1 {
  /* border: 2px solid pink; */
}
.layout2 {
  /* border: 2px solid red; */
  display: flex;
  justify-content: center;
  width: 100%;
}

@media (max-width: 856px) {
  .layout2 {
    /* border: 2px solid orchid; */
    flex-direction: column;
  }
}
